@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Oswald:wght@300&family=Titillium+Web:ital,wght@0,400;1,300;1,400&display=swap');
   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.tamañoimagen {
    width: 300px;
    height: 200px;
}

.alineartexto {
    text-align: center;
}

.tamañologo {
    width: 75px;
    height: 75px;
}

.separacion {
    margin: 30px;
}

.titulo {
    color: rgb(92, 36, 87);
    background-color: rgb(216, 170, 228);
    font-size: 38px;
    font-family: 'Cinzel', serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Oswald', sans-serif;
}

.artista {
    color: rgb(92, 75, 165);
    background-color: darksalmon;
    width: 400px
}

.tamaño {
    font-size: 25px;
    font-weight: bold;
}

.info {
    width: 250px;
}

.menu {
    font-family: 'Cinzel', serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(17, 42, 71);
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.menu2 {
    list-style-type: none;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;


}

.tarjetita {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 30px;

}

.piedepagina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.alineacion {
    text-align: center;
}


.espacios {

    margin-top: 500px;
}

.centrarimagenes {
    display: block;

    margin: auto;

}


@media(orientation:portrait) {
    .tablaconcierto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
}

@media(max-width:900) {
    .videoscompletos {
        flex-direction: column;
    }
}

@media (max-width:900px) {
    .tarjetita {

        flex-direction: column;
    }
}


.cuadroconcierto {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    

    display: grid;
    min-height: 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   
  column-gap:1rem;
  row-gap: 2rem;
    grid-template-areas:
        "CONCIERTOS CONCIERTOS BLACKPINK STRAYKIDS"
        "CONCIERTOS CONCIERTOS TWICE     AGUSTD"

}

.CONCIERTOS {
    background-color: rgb(5, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
  grid-area: CONCIERTOS;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 100px;
}


.BLACKPINK {
    background-color: rgb(252, 134, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content:center;
    grid-area: BLACKPINK;
    font-size: 30px;
}

.STRAYKIDS {
    background-color: rgb(192, 41, 41);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 30px;
}

.TWICE {
    background-color: rgb(102, 102, 207);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content:center;
    grid-area: TWICE;
    font-size: 30px;
}

.AGUSTD {
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content:center;
    grid-area: AGUSTD;
    font-size: 30px;
}
@media (max-width:900px){
    .cuadroconcierto{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "CONCIERTOS CONCIERTOS"
        "BLACKPINK STRAYKIDS"
        "TWICE AGUSTD"
    }
}


@media (orientation:portrait){
.cuadroconcierto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "CONCIERTOS"
    "BLACKPINK"
    "STRAYKIDS"
    "TWICE"
    "AGUSTD"
}
}